Goods need to meet the product requirements set by government of this country. One can often find them as a part of Technical Barriers to Trade in reports or official documents. Those requirements apply to many aspects, of the goods and they can be classified into: Product standards, Products testing and Packaging, labelling, and marking.
Product standards are set by each country to protect the health and safety of its consumers. The can be based on either physical characteristics or product performance, or both. Most of the developed countries use product standards as well as other trade barriers to hinder the imports of agricultural products from developing countries, which produce them usually at much lower costs, and to protect domestic producers.
Packaging, labelling and marking are all put together into one group as they are interrelated. Products are required to be packed in certain way to ensure safety, provide necessary information and for other reasons. Product testing is used by governments to determine safety and suitability of products before they can be allowed on the market.