1. For Yazid's work on mining barriers, we need:
- a more representative ontology for describing the different barriers.

It is important to focus on both Russian side and Finnish / EU side as we want to sell the story that the different perceptions of barriers affect business as well.

Try to find a mapping with exchange flow between the two countries using statistics from Russian and Finnish customs

- we want a narrow focus on fish industry as well.

So think of all potential products that maybe involved in fish industry, especially fish products in fish farms.. Maybe you can use Anna-kaisa excel file of  fish industry in finlad and explore each product whether it has been mentioned at one of business discussion forum either Finnish, Russian or EU.


You can also use a simple sentiment analysis to build up some hypotheses.. For instance, take few famous Finnish finnish products that are found in Custom statistics as being exported to Russia and then carry a sentiment analysis on some famous Russian news website to assess Russian citizens sentiment of that product.

Repeat the same thing of a commonly exported Fish product from Russia to Finland.

Once you generate some hypotheses from there, you can take it further to explore what are barriers that hint the florishing of business associated to this product in the other country.
